:root {
  --main-color: #2E9AFF;
  --bkg-color: #1E2A34;
  --dark-color: #000;
  --light-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--light-color);
  font-family: Graphik, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bkg-color);
}

.page {
  height: 100%;
}

a, button {
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

section, footer {
  min-height: 100dvh;
  padding: clamp(2rem, 1.208rem + 3.519vw, 4.375rem) 0;
  background-color: var(--bkg-color);
}

.copy-button {
  width: 1.5rem;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1680px;
  margin-inline: auto;
  padding-inline: 4.375rem;
}

@media (width < 1024px) {
  .wrapper {
    flex-direction: column;
    align-items: baseline;
    margin-block-end: 2rem;
    padding-inline: 1rem;
  }
}

.top,
.info {
  background-color: var(--dark-color);
}

.title {
  font-weight: 500;
  font-size: clamp(4rem, 2.583rem + 6.296vw, 8.25rem);
}

@media (width < 1024px) {
  .title {
    font-size: 2rem;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1680px;
  margin-inline: auto;
  padding-inline: 4.375rem;
}

@media (width < 1024px) {
  .header {
    flex-direction: column;
    gap: 2rem;
    margin-block-end: 3rem;
    padding-inline: 1rem;
  }
}

.link-container {
  position: relative;
  z-index: 1;
}

.link {
  position: relative;
  z-index: 0;
  color: var(--light-color);
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  transition: color 0.3s;

  &::after {
    content: "";
    position: absolute;
    inset-block-end: -2px;
    inset-inline-start: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    transition: height 0.3s;
  }

  &:hover .link-arrows {
    color: var(--light-color);
  }

  &:hover::after {
    height: 104%;
  }
}

.link-arrows {
  color: var(--main-color);
  transition: color 0.3s;
}
