.color {
  position: relative;
  overflow: hidden;
}

.color-title {
  position: absolute;
  inset-block-end: clamp(2rem, 1.5rem + 2.222vw, 3.5rem);
  inset-inline-start: clamp(2.3rem, 1.608rem + 3.074vw, 4.375rem);
}

@media (width < 1024px) {
  .color-title.title {
    position: static;
    margin-inline: auto;
    text-align: center;
  }
}

.color-container {
  display: flex;
  align-items: start;
  gap: clamp(5rem, 2.667rem + 10.37vw, 12rem);
  height: 100%;
  padding-block: 10dvh;
  opacity: 0;

  & > * {
    flex-shrink: 0;
  }
}

@media (width < 1024px) {
  .color-container {
    flex-direction: column;
    align-items: center;
    padding-block: 5dvh;
    opacity: 1;
  }
}

.color-card {
  display: flex;
  flex-direction: column;
  width: 275px;
  overflow: hidden;
  /* aspect-ratio: 1/1.2; */
  color: var(--dark-color);
  font-family: Spot Mono, monospace;
  font-weight: 500;
  background-color: var(--light-color);
}

.color-block {
  display: flex;
  align-items: end;
  width: 100%;
  aspect-ratio: 1;
  padding: 0 1.5rem;
  font-size: 4rem;
  background-color: var(--main-color);
}

.color-text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  padding-inline: 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: var(--light-color);
  white-space: nowrap;
}

.color-content {
  display: grid;
  gap: 1rem;
  width: clamp(250px, 100%, 770px);
  padding: clamp(1.5rem, 0.667rem + 3.704vw, 4rem) clamp(1rem, -0.333rem + 5.926vw, 5rem);
  align-content: center;
  color: var(--dark-color);
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  background-color: var(--light-color);
}

.color-item {
  width: 255px;
  aspect-ratio: 1;
}

.color-circle {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
}

.color-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  scale: 0.8;
}
