.footer {
  display: grid;
  height: 100dvh;
  padding-block: 0;

  & .link-container {
    position: absolute;
    inset-block-start: clamp(2rem, 1.208rem + 3.519vw, 4.375rem);
    inset-inline-end: 0;
  }

  & .wrapper {
    position: relative;
    flex-direction: column;
    justify-content: center;
    grid-area: 1/1;
    height: 100%;
    font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  }

  & .footer-content {
    position: relative;
    grid-area: 1/1;
  }
}