.metrics {
  display: grid;
  height: 100dvh;
  padding-block: 0;

  & .link-container {
    position: absolute;
    inset-block-start: clamp(2rem, 1.208rem + 3.519vw, 4.375rem);
    inset-inline-end: 4.375rem;
  }

  & .wrapper {
    position: relative;
    justify-content: center;
    height: 100%;
  }

  & .metrics-content {
    position: relative;
    align-content: center;
  }
}

@media (width >= 1024px) {
  .metrics {
    & .wrapper {
      grid-area: 1/1;
    }

    & .metrics-content {
      grid-area: 1/1;
    }
  }
}

@media (width < 1024px) {
  .metrics {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-block: 2rem;

    & .link-container {
      position: static;
    }

    & .wrapper {
      height: auto;
    }

    & .badge {
      display: none;
    }
  }
}

.metrics-text {
  position: absolute;
  inset-block-start: 20%;
  inset-inline-start: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);

  &:nth-child(2) {
    inset-block-start: 40%;
    inset-inline-start: 80%;
  }

  &:nth-child(3) {
    inset-block-start: 80%;
    inset-inline-start: 80%;
  }

  &:nth-child(4) {
    inset-block-start: 90%;
    inset-inline-start: 50%;
  }

  &:nth-child(5) {
    inset-block-start: 80%;
    inset-inline-start: 20%;
  }

  &:nth-child(6) {
    inset-block-start: 40%;
    inset-inline-start: 20%;
  }

  &:nth-child(7) {
    inset-block-start: 60%;
    inset-inline-start: 80%;
  }

  &:nth-child(8) {
    inset-block-start: 60%;
    inset-inline-start: 20%;
  }
}

@media (width < 1024px) {
  .metrics-text {
    position: static;
    text-align: center;
    transform: none;
  }
}