.top {
  display: grid;
  grid-template-rows: auto 1fr;
}

.top-container {
  display: flex;
  gap: 2px;
}

@media (width < 1024px) {
  .top-container {
    flex-direction: column;
  }
}

.top-radio {
  display: none;
}

.top-radio:checked + .top-item {
  flex-grow: 1;
  height: 100%;
  background-color: var(--bkg-color);
}

.top-radio:checked + .top-item .top-content {
  width: 100%;
  opacity: 1;
  transition: width 0.3s, opacity 0.2s;
}

@media (width < 1024px) {
  .top-radio:checked + .top-item .top-content {
    height: 100%;
    transition: height 0.3s;
  }
}

.top-radio:checked + .top-item .top-item-subtitle {
  opacity: 1;
  transition: opacity 0.2s 0.1s, transform 0.2s;
  transform: translateY(-0.5rem);
}

.top-item {
  width: 20%;
  height: 100%;
  padding: 2.5rem;
  background-color: color(from var(--bkg-color) srgb r g b / 70%);
  transition: flex-grow 0.3s, width 0.3s, background-color 0.3s;
  cursor: pointer;
}

@media (width >= 1024px) {
  .top-item:not(:checked) ~ &:hover {
    width: 22%;
  }
}

@media (width < 1024px) {
  .top-item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    width: 100%;
    height: 20dvh;
    padding: 1.5rem;
    transition: height 0.2s;
  }
}

.top-item-title {
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  font-weight: 500;
  text-transform: uppercase;
}

.top-item-subtitle {
  opacity: 0;
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  transition: none;
  transform: translateY(1.5rem);
}

:not(:checked).top-content {
  position: relative;
  width: 0px;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: none;
}

@media (width < 1024px) {
  :not(:checked).top-content {
    width: 100%;
    height: 0;
  }
}

.authors-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.authors {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  gap: 1rem;
  width: 100%;
  list-style: none;
}

@media (width < 1024px) {
  .authors {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.author {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.author-image {
  width: 6.5dvw;
  aspect-ratio: 1;
  margin-inline: auto;
  border-radius: 50%;

  .first & {
    width: 19.5dvw;
  }

  .second & {
    width: 13dvw;
  }

  & > img  {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (width < 1024px) {
  .author-image,
  .first .author-image,
  .second .author-image {
    width: 20dvh;
  }
}

.float {
  transition: ease 0.5s;
  animation: float 3s ease-in-out alternate-reverse infinite;

  &:hover {
    animation-play-state: paused;
  }

  &:nth-child(2) {
    animation-delay: 0.5s;
  }

  &:nth-child(3) {
    animation-delay: -0.5s;
  }
}

@media (width >= 1024px) {
  .float {
    transform: translateY(-5%);
  }
}

@media (width < 1024px) {
  .float {
    transform: none;
    animation: none;
  }
}

.pr-item {
  display: flex;
  flex-direction: column;
}

.pr-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
  margin: auto;
}

@media (width < 1024px) {
  .pr-content {
    max-width: 100%;
  }
}

.pull-requests {
  margin-block: auto;
  list-style: none;
}

.pull-request:not(:last-child) {
  margin-block-end: 4rem;
}

.pull-request-name {
  margin-block-end: 1rem;
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  text-align: center;
}

@media (width < 1024px) {
  .pull-request-name {
    font-size: 1.5rem;
  }
}

.pull-request-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Spot Mono, monospace;
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
}

@media (width < 1210px) {
  .pull-request-line {
    flex-direction: column;
  }
}

@media (width < 1024px) {
  .pull-request-line {
    font-size: 2rem;
  }
}

.pull-request-plus {
  color: var(--main-color);
}

.pull-request-cubes {
  display: flex;
  gap: 0.5rem;
}

@media (width < 1210px) {
  .pull-request-cubes {
    gap: 0;
  }
}

@media (width < 1024px) {
  .pull-request-cubes {
    display: none;
  }
}

.pr-cube {
  width: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  aspect-ratio: 1;
  background-color: var(--light-color);

  &.plus {
    background-color: var(--main-color);
  }
}

.comments {
  position: absolute;
  inset-block-start: 15%;
  inset-inline-end: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(200px, 16dvw, 340px);
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--dark-color);
  font-size: clamp(1rem, 0.875rem + 0.556vw, 1.375rem);
  text-align: center;
  background-color: var(--main-color);

  & .comments-count {
    display: block;
    text-align: center;
  }

  &.second {
    inset-block-start: 32%;
    inset-inline-end: 60%;
    width: clamp(120px, 10dvw, 260px);
    background-color: color(from var(--main-color) srgb r g b / 75%);
  }

  &.third {
    inset-block-start: 55%;
    inset-inline-end: 45%;
    width: clamp(80px, 6.667dvw, 220px);
    background-color: color(from var(--main-color) srgb r g b / 50%);
  }

  &:hover {
    filter: drop-shadow(0 0 0.5rem var(--dark-color));
  }
}

@media (width < 1024px) {
  .top-content:has(.comments) {
    align-content: center;
  }

  .comments {
    position: static;
    margin: auto;
  }

  .comments:not(:last-child) {
    margin-block-end: 1rem;
  }
}


@keyframes float {
  50% {
    transform: translateY(5%);
  }
}
